@using GoAgile.Models
@model CreateRetrospectiveViewModel
@{
    ViewBag.Title = "Create Retrospective";
}

@using (Html.BeginForm())
{
    <div class="container">
        <form class="form-horizontal">
            @Html.AntiForgeryToken()
            <h2>Create Retrospective</h2>
            @Html.ValidationSummary(true)
            <div class="form-group row">
                @Html.LabelFor(m => m.RetrospectiveName, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.RetrospectiveName, new { @class = "form-control", @placeholder = "Enter Retrospective Name" })
                    @Html.ValidationMessageFor(m => m.RetrospectiveName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Project, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @placeholder = "Enter Project Name" })
                    @Html.ValidationMessageFor(m => m.Project, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Comment, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextArea("Comment", null, new { @class = "form-control", @placeholder = "Enter Short Comment" })
                    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.DatePlanned, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.DatePlanned, new { @class = "form-control", @placeholder = "dd/MM/yyyy", @id = "date" })
                    @Html.ValidationMessageFor(m => m.DatePlanned, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.EnableVotes, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(x => x.EnableVotes)
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.MaxVotes, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.MaxVotes, new { @class = "form-control", @placeholder = "Number of Votes" })
                    @Html.ValidationMessageFor(m => m.MaxVotes, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>




}

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $('#date').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true
        });
    </script>


