@using GoAgile.Models.Retrospective
@model RetrospectiveInitModel
@{
    ViewBag.Title = "Retrospective";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>    
    <link href="~/Content/GoAgileContent/modals.css" rel="stylesheet" />
    <link href="~/Content/GoAgileContent/text.css" rel="stylesheet" />
    <link href="~/Content/GoAgileContent/well.css" rel="stylesheet" />
    <link href="~/Content/GoAgileContent/loading.css" rel="stylesheet" />
    <link href="~/Content/GoAgileContent/sidebar.css" rel="stylesheet" />
    <script>

        $(function () {
            //  state: "waiting", "running", "presenting", "finished"
            var state;

            // Retrospective Guid
            var guidId;

            // User Name
            var user;

            // List of items
            // TODO: binary search and inser at position
            var itemIdList = [];

            // Page Loaded -> show login modal
            $(document).ready(function () {
                state = '@Model.State';
                guidId = '@Model.GuidId';
                votes = '@Model.Votes';
                enableVoting = '@Model.EnableVoting';

                $('#div_avaibleVotes').text("Remaining votes " + votes);
                $('#modalLogin').modal('show');            

                switch (state) {
                    case "waiting":
                        modeWaiting();
                        break;
                    case "running":
                        modeRunning();
                        break;
                    case "presenting":
                        modePresenting();
                        break;
                    case "voting":
                        modeVoting();
                        break;
                    case "finished":
                        modeFinished();
                        break;
                }

                // Inicialize hub connection
                var retHub = $.connection.retrospectiveHub;

                // Invalid input Login modal
                retHub.client.invalidLoginInput = function (message) {
                    $('#testInValidInput').show();
                    $('#testInValidInput').text(message);
                };

                // User is logged
                retHub.client.userLogged = function (msgName) {
                    user = msgName;

                    $('#modalLogin').modal('hide');                    
                };

                // Retrospective started running
                retHub.client.startRunningMode = function () {
                    state = "running";
                    modeRunning();
                }

                // Retrospective started presenting
                retHub.client.startPresentingMode = function () {
                    state = "presenting";
                    modePresenting();
                }

                // Retrospective started voting
                retHub.client.startVotingMode = function () {
                    state = "voting";
                    modeVoting();
                }

                // Retrospective is finished
                retHub.client.retrospectiveFinished = function () {
                    state = "finished";
                    modeFinished();
                }                         

                // Recieve shared Item
                retHub.client.recieveSharedItem = function (data) {
                    var item = $.parseJSON(data);

                    addSharedItem(item.ItemGuid, item.Column, item.Autor, item.Text, item.Votes, item.CanVote);
                }

                // Recieve all shared Items
                retHub.client.recieveAllSharedItemsMng = function (data) {
                    var item = $.parseJSON(data);
                    votes = item.RemainingVotes;
                    if (votes <= 0)
                        votes = 0;

                    $('#div_avaibleVotes').text("Remaining votes " + votes);

                    for (var i = 0; i < item.Items.length; i++)
                        addSharedItem(item.Items[i].ItemGuid, item.Items[i].Column, item.Items[i].Autor, item.Items[i].Text, item.Items[i].Votes, item.Items[i].CanVote);

                    if (item.Phase != state)
                        retHub.server.GetState();
                }
                
                // update Online Users
                retHub.client.recieveOnlineUsers = function (data) {
                    var items = $.parseJSON(data);
                    var i;

                    $('#list_users').empty();

                    for (i = 0; i < items.length; i++) {
                        $('#list_users').append(
                            '<li><i class="glyphicon glyphicon-user"></i> ' + items[i] + '</li>'
                        );
                    }
                    $('#div_onlineUsers').text('Online Users: ' + i);
                };

                // Add Vote
                retHub.client.addVotesToSharedItem = function (data) {
                    var item = $.parseJSON(data);

                    sharedItemListId = item.Column;
                    sharedItemGuid = item.SharedItemGuid;
                    sharedItemVotes = item.VotesTotal;
                    sharedItemRemainingVotes = item.RemainnigVotes;
                    sharedItemEnableVoting = item.EnableThisItemVoting;

                    $('#div_avaibleVotes').text("Remaining votes " + sharedItemRemainingVotes);
                    if (sharedItemRemainingVotes <= 0)
                        $('.btn_shareVote').prop('disabled', true);

                    $('#' + sharedItemListId + ' li').each(function (index) {
                        if ($(this).attr('name') == sharedItemGuid) {
                            if (sharedItemEnableVoting == false)
                                $(this).find('.btn_shareVote').prop('disabled', true);

                            var element = $(this).find('.sharedItem_votes');
                            if (element.attr('votes') < sharedItemVotes) {
                                element.text('Votes: ' + sharedItemVotes);
                                element.attr('votes', sharedItemVotes);
                            }
                        }
                    });
                };

                // Connected to Hub
                $.connection.hub.start().done(function () {
                });

                // Share Item
                $(document).on('click', '.share', function () {
                    column = $(this).parent().parent().parent().attr('name');
                    text = $(this).parent().parent().find('.itemPending').val();

                    $(this).parent().parent().remove();

                    retHub.server.sendSharedItem(column, text);
                });

                // Delete Item from columns
                $(document).on('click', '.delete', function () {
                    $(this).parent().parent().remove();
                });

                // Voting
                $(document).on('click', '.btn_shareVote', function () {
                    var sharedIdGuid = $(this).parent().parent().parent().parent().parent().attr('name');
                    var sharedColumn = $(this).parent().parent().parent().parent().parent().attr('column');

                    retHub.server.sharedItemVoted(sharedColumn, sharedIdGuid);
                });

                // Login user
                $('#modalLogInButton').click(function () {
                    $('#testInValidInput').hide();
                    retHub.server.loginUser($('#modalNickName').val(), guidId);
                });

                // Navigate to Retrospective History
                $('#btn_history').click(function () {
                    var url = '@Url.Action("RetrospectiveDetail", "Retrospective")' + "/" + guidId;
                    window.location.href = url;
                });

                // Navigate to Home page
                $('#btn_home').click(function () {
                    var url = '@Url.Action("GoAgile", "Home")';
                    window.location.href = url;
                });

                // Start column Add
                $('#btn_start_addItem').click(function () {
                    addListItem("list_start", "start");
                });

                // Continue column Add
                $('#btn_continue_addItem').click(function () {
                    addListItem("list_continue", "Continue");
                });

                // Stop column Add
                $('#btn_stop_addItem').click(function () {
                    addListItem("list_stop", "Stop");
                });

            });

            // Add list item to list
            function addListItem(list, placeholder) {
                $('#' + list).append(
                   $('<li class="list-group-item well clearfix listBlock">').append(
                       $('<textarea type="textarea" class="form-control itemPending" rows="3" placeholder="' + placeholder + '"></textarea>' +
                         '<div class="btn-group" role="group">' +
                         '<input type="button" class="btn btn-success share" disabled value="Share"/>' +
                         '<input type="button" class="btn btn-danger delete" value="Delete"/>' +
                         '</div>'
                )));
            };

            // Add shared Item to list
            function addSharedItem(itemGuid, column, autor, text, totalVotes, canVote) {
                var exist = false;
                var hidden = "hidden";
                var disabled = "";
                var listId;

                if (column == "Start")
                    listId = "list_start";
                else if (column == "Stop")
                    listId = "list_stop";
                else
                    listId = "list_continue";

                if (enableVoting == "True" && state == "voting")
                    hidden = "";

                if (canVote == false || votes <= 0)
                    disabled = "disabled";

                for (var i = 0; i < itemIdList.length; i++) {
                    if (itemGuid == itemIdList[i])
                        exist = true;
                }

                if (exist == false) {
                    itemIdList.push(itemGuid);

                    $('#' + listId).prepend(
                        $('<li class="list-group-item well well-sm well-successs clearfix" name="' + itemGuid + '" column="' + listId + '">').append(
                            $('<div class="text-center">' + text + '<div>' +
                                '<div class="row sharedItem_votingPanel"' + hidden + '>' +
                                    '<div class="col-md-6 text-left">' +
                                        '<div class="sharedItem_votes" votes="' + totalVotes + '">Votes: ' + totalVotes + '</div>' +
                                    '</div>' +
                                    '<div class="col-md-6 text-right">' +
                                        '<input type="button" class="btn btn-xs btn-success btn_shareVote" ' + disabled + ' value="Vote"/>' +
                                    '</div>' +
                                '</div>'
                    )));
                }
            };

            // Disable list add (+) buttons
            function disableListButtons(state) {
                $('#btn_start_addItem').prop('disabled', state);
                $('#btn_continue_addItem').prop('disabled', state);
                $('#btn_stop_addItem').prop('disabled', state);
            };

            function modeWaiting() {
                disableListButtons(true);
                $('#manage_waiting').show();
            };

            function modeRunning() {
                $('#manage_waiting').hide();
                $('#manage_running').show();
                disableListButtons(false);
            };

            function modePresenting() {
                $('#manage_waiting').hide();
                $('#manage_running').hide();
                $('#manage_presenting').show();
                $('.itemPending').prop('disabled', true);
                disableListButtons(true);

                $('.share').prop('disabled', false);
            };

            function modeVoting() {
                $('.itemPending').hide();

                $('#manage_waiting').hide();
                $('#manage_running').hide();
                $('#manage_presenting').hide();
                $("#manage_voting").show();
                disableListButtons(true);
                $('.sharedItem_votingPanel').show();
            };

            function modeFinished() {
                $('.itemPending').hide();
                $('.btn_shareVote').hide();

                $('#manage_waiting').hide();
                $('#manage_running').hide();
                $('#manage_presenting').hide();
                $("#manage_voting").hide();
                $("#manage_finished").show();
                disableListButtons(true);
            };

            //// Retrospective started running
            //retHub.client.startRunningMode = function () {
            //    state = "running";
            //    $('#modalWaiting').modal('hide');
            //    disableListButtons(false);
            //}

            //// Retrospective started presenting
            //retHub.client.startPresentingMode = function () {
            //    state = "presenting";
            //    $('#modalWaiting').modal('hide');
            //    $('.share').prop('disabled', false);
            //    $('.itemPending').prop('disabled', true);
            //    disableListButtons(true);
            //}

            //// Retrospective is finished
            //retHub.client.retrospectiveFinished = function () {
            //    state = "finished";
            //    $('#modalFinished').modal('show');
            //}
        });
    </script>
}


<!-- Modal LogIn-->
<div class="modal fade" id="modalLogin" hidden tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary text-center">
                <h1>Enter Retrospective</h1>
            </div>
            <div class="modal-body">
                <form id="logInForm">
                    <div class="form-group">
                        <label class="control-label">NickName:</label>
                        <div class="validation-msg" id="testInValidInput" hidden>

                        </div>
                        <input type="text" class="form-control" id="modalNickName" name="modalNickName" placeholder="Enter Nick Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalLogInButton" class="btn btn-primary text-center">Enter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container-fluid">
    <!-- Online USers panel-->
    <div id="mySidenav" class="sidenav">
        <h5 id="div_onlineUsers"></h5>
        <ul class="list-group" id="list_users"></ul>
    </div> <!-- /Online USers panel -->
    <!-- Columns Start, Continue, Stop -->
    <div id="main">
        <!-- Top well -->
        <div class="well">
            <!-- Waiting State Manager -->
            <div class="row text-center" hidden id="manage_waiting">
                <div class="loader"></div>
                <h3>Please Wait until Retrospective starts.</h3>
            </div> <!-- /Waiting State Manager -->
            <!-- Running State Manager -->
            <div class="row text-center" hidden id="manage_running">

            </div> <!-- /Running State Manager -->
            <!-- Presenting State Manager -->
            <div class="row text-center" hidden id="manage_presenting">

            </div> <!-- /Presenting State Manager -->
            <!-- Voting State Manager -->
            <div class="row text-center" hidden id="manage_voting">
                <div id="div_avaibleVotes"></div>
            </div> <!-- /Voting State Manager -->
            <!-- Finished State Manager -->
            <div class="row" hidden id="manage_finished">
                <div class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
                    <button type="button" id="btn_home" class="btn btn-primary text-center">Home</button>
                    <button type="button" id="btn_history" class="btn btn-primary text-center">See Detail</button>
                </div>
            </div> <!-- /Finished State Manager -->
        </div> <!-- /Top well -->
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="title-marketing"><h3>Start</h3></div>
                <ul class="list-group" name="Start" id="list_start"></ul>
                <button type="button" id="btn_start_addItem" disabled class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
            <div class="col-sm-4 text-center">
                <div class="title-marketing"><h3>Stop</h3></div>
                <ul class="list-group" name="Stop" id="list_stop"></ul>
                <button type="button" id="btn_stop_addItem" disabled class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
            <div class="col-sm-4 text-center">
                <div class="title-marketing"><h3>Continue</h3></div>
                <ul class="list-group" name="Continue" id="list_continue"></ul>
                <button type="button" id="btn_continue_addItem" disabled class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div><!-- /Columns Start, Continue, Stop -->
    </div>
</div> 

