@model IEnumerable<GoAgile.Models.Retrospective.EventModel>

@{
    ViewBag.Title = "My Events";
}
    
<link href="~/Content/GoAgileContent/table.css" rel="stylesheet" />
<link href="~/Content/GoAgileContent/modals.css" rel="stylesheet" />
<link href="~/Content/GoAgileContent/well.css" rel="stylesheet" />
<link href="~/Content/GoAgileContent/loading.css" rel="stylesheet" />
@section scripts{
<script>
    $(function () {

        // Add rows into table
        $(document).ready(function () {
            var data = @Html.Raw(Json.Encode(Model));
            var itemToDelete = null;

            for (var i = 0; i < data.length; i++) {
                if (data[i].State == "finished") {
                    addRow('tableBodyFinished', data[i]);
                }
                else if (data[i].State == "waiting") {
                    addRow('tableBodyWaiting', data[i]);
                }
                else {
                    addRow('tableBodyInProgress', data[i]);
                }
                addRow('tableBodyAll', data[i]);
            }

            // Row is clicked
            $('.clickable-row').click(function(event) {    
                var guidId = $(this).attr("name");
                var state = $(this).attr("state");
           
                rowClicked(guidId, state);
            });

            // Delete Event
            $('.delete').click( function (event) {
                event.stopPropagation();
                var state = $(this).parent().parent().attr("state");

                if (state == "finished") {
                    itemToDelete = $(this).parent().parent().attr("name"); 
                    $('#modal_delete').modal('show');
                }                    
                else
                    $('#modal_invalidDelete').modal('show');
            });

            // Hide Invalid Event delete
            $('#btn_invalidDeleteOk').click(function(event) {
                $('#modal_invalidDelete').modal('hide');
            });

            // Canceled Event Delete
            $('#btn_deleteCancel').click(function(event) {
                $('#modal_delete').modal('hide');
                $('#div_text').show();
                $('#div_failed').hide();
                itemToDelete = null;
            });            

            // Event Delete
            $('#btn_deleteDelete').click(function(event) {
                
                $('#div_text').hide();
                $('#div_loader').show();
                $('#btn_deleteDelete').prop('disabled', true);
                $('#btn_deleteCancel').prop('disabled', true);

                $.ajax({
                        type: "POST",
                        url: '@(Url.Action("DeleteRetrospective", "Retrospective"))' + "/" + itemToDelete,
                    success: function (data) {
                        var url = '@Url.Action("Events", "Home")';
                        window.location.href = url;
                    },
                    error: function (error) {
                        $('#div_failed').show();
                        $('#div_loader').hide();
                        $('#btn_deleteDelete').prop('disabled', false);
                        $('#btn_deleteCancel').prop('disabled', false);
                    }
                });
            });

        });

        // Add Row to table
        function addRow(table, model) {
            $('#' + table).append(
                   '<tr class="clickable-row" name="' + model.IdGuid + '" state="' + model.State + '">' +
                       '<td class="text-left">' + model.Name + '</td>' +
                       '<td class="text-left">' + model.Project + '</td>' +
                       '<td class="text-left">' + model.State + '</td>' +
                       '<td class="text-left">' + model.Comment + '</td>' +
                       '<td class="text-left">' + model.DatePlanned + '</td>' +
                       '<td class="text-left">' + model.DateStarted + '</td>' +
                       '<td class="text-left">' + model.DateFinished + '</td>' +
                       '<td><button type="button" class="btn-xs btn-danger delete">Delete</button></td>' +
                   '</tr>'
               );
        };
        
        // Redirect to Event's detail page or Event
        function rowClicked(guidId, state)
        {
            if (state == "finished") {
                var url = '@Url.Action("RetrospectiveDetail", "Retrospective")' + "/" + guidId;
                window.location.href = url;
            }
            else {
                var url = '@Url.Action("ManageRetrospective", "Retrospective")' + "/" + guidId;
                window.location.href = url;
            }
        };

    });
</script>
}

    <!-- modal Invalid Delete-->
    <div class="modal modal-sm fade" id="modal_invalidDelete" hidden tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Cannot Delete</h1>
                </div>
                <div class="modal-body">
                    Finish Event before deleting.
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_invalidDeleteOk" class="btn btn-primary text-center">Ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal Invalid Delete-->

    <!-- modal Delete-->
    <div class="modal fade" id="modal_delete" hidden tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary text-center">
                    <h1>Deleting Event</h1>
                </div>
                <div class="modal-body">
                    <div id="div_text">Are you sure?</div>
                    <div id="div_loader" class="loader" hidden></div>
                    <div id="div_failed" hidden>Failed to delete Event.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_deleteDelete" class="btn btn-danger text-center">Delete</button>
                    <button type="button" id="btn_deleteCancel" class="btn btn-primary text-center">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal Delete-->

    <div class="container">
        <h3>Your Events</h3>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#all" data-toggle="tab">All</a>
            </li>
            <li>
                <a href="#waiting" data-toggle="tab">Waiting</a>
            </li>
            <li>
                <a href="#inprogress" data-toggle="tab">In Progress</a>
            </li>
            <li>
                <a href="#finished" data-toggle="tab">Finished</a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="all">
                <table class="table" id="myTableAll">
                    <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Project</th>
                            <th class="text-left">State</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Planned</th>
                            <th class="text-left">Started</th>
                            <th class="text-left">Finished</th>
                            <th class="text-left"></th>
                        </tr>
                    </thead>
                    <tbody class="table-hover" id="tableBodyAll"></tbody>
                </table>
            </div>
            <div class="tab-pane" id="waiting">
                <table class="table" id="myTableWaiting">
                    <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Project</th>
                            <th class="text-left">State</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Planned</th>
                            <th class="text-left">Started</th>
                            <th class="text-left">Finished</th>
                            <th class="text-left"></th>
                        </tr>
                    </thead>
                    <tbody class="table-hover" id="tableBodyWaiting"></tbody>
                </table>
            </div>
            <div class="tab-pane" id="inprogress">
                <table class="table" id="myTableInProgress">
                    <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Project</th>
                            <th class="text-left">State</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Planned</th>
                            <th class="text-left">Started</th>
                            <th class="text-left">Finished</th>
                            <th class="text-left"></th>
                        </tr>
                    </thead>
                    <tbody class="table-hover" id="tableBodyInProgress"></tbody>
                </table>
            </div>
            <div class="tab-pane" id="finished">
                <table class="table" id="myTableFinished">
                    <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Project</th>
                            <th class="text-left">State</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Planned</th>
                            <th class="text-left">Started</th>
                            <th class="text-left">Finished</th>
                            <th class="text-left"></th>
                        </tr>
                    </thead>
                    <tbody class="table-hover" id="tableBodyFinished"></tbody>
                </table>
            </div>
        </div>
    </div>


